ul{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: white;
    border: solid 0.1rem white;
border-radius: 50%;
    padding: 8px;
    font-size: 18px;

}
.row{
    padding-top: 90px;
    padding-bottom: 80px;
}