<div style="background-color:#2C3E50 ; color: white;" class="container-fluid ">
    <div class="row ps-5 pe-5">
        <div class="item text-center col-md-4">
            <h2>LOCATION</h2>
            <p>2215 John Daniel Drive</p>
            <p class="mt-1">Clark, MO 65243</p>
        </div>
        <div class="item text-center col-md-4  ">
            <h2>AROUND THE WEB</h2>
            <ul class="d-flex justify-content-center container-fluid ">
                <li><a href="" class="fa-brands fa-facebook mx-1 icon"></a></li>
                <li><a href="" class="fa-brands fa-twitter mx-1 icon"></a></li>
                <li><a href="" class="fa-brands fa-linkedin mx-1 icon"></a></li>
                <li><a href="" class="fa-solid fa-globe mx-1 icon"></a></li>
            </ul>
        </div>
        <div class="item text-center col-md-4">
            <h2>ABOUT FREELANCER</h2>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
           
        </div>
    </div>

</div>
<div style="background-color: #1A252F; color: white;" class="container-fluid text-center p-3">
<p>Copyright © Your Website 2021</p>
</div>
