*{
    transition:all ease 0.3s;
}
.line{
    height: 0.2rem;
    width:100px;
    background-color: #2C3E50;
}
input{
    padding-left: 10px;
    padding-bottom: 10px;
    border: none;
    border-bottom: solid 0.12rem rgba(0, 0, 0, 0.212);
    box-shadow: #2C3E50;
    border-radius:5px;
z-index: 10;

}
input:focus{
outline: none;
}

.title{

    text-align: start;
    color: #17A68A;
   position: relative;
top: 27px;
padding-left: 5px;

}
