<div style="background-color: #1ABC9C; margin: 0;  padding-top:120px; color:  white;" class="container-fluid d-flex align-items-center flex-column pb-4 ">
<div style="width: 230px;" class="pic ">
    <img class="w-100"  src="images/avataaars.svg" alt="sdsd">
</div>
<div class="contain text-center mt-4">
<h1  style="font-size: 40px;font-weight: 700;">START FRAMEWORK</h1>
<span class="mt-3 d-flex align-items-center gap-3 justify-content-center">
    <div  class="line"></div>
    <span class="fa-solid fa-star"></span>
    <div  class="line"></div>
</span>
<p class="mt-4">Graphic Artist - Web Designer - Illustrator</p>
</div>
</div>
